<h1 class="titulo" >Pendientes</h1>

<mat-card class="document-card">

    <table mat-table [dataSource]="dataListaDocumentos">
  

  <ng-container matColumnDef="codigo">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let element">{{element.codigo}}</td>
  </ng-container>

  <ng-container matColumnDef="proceso">
    <th mat-header-cell *matHeaderCellDef>Código</th>
    <td mat-cell *matCellDef="let element">{{element.proceso}}</td>
  </ng-container>
  
  <ng-container matColumnDef="tipO_DOCUMENTO">
      <th mat-header-cell *matHeaderCellDef>Tipo Documento</th>
      <td mat-cell *matCellDef="let element">{{element.tipO_DOCUMENTO}}</td>
  </ng-container>

  <ng-container matColumnDef="fechA_CREACION">
      <th mat-header-cell *matHeaderCellDef>Fecha de Solicitud</th>
      <td mat-cell *matCellDef="let element">{{ element.fechA_CREACION | date: 'dd/MM/yyyy' }}</td>
  </ng-container>

  <ng-container matColumnDef="tiempO_RETENCION">
    <th mat-header-cell *matHeaderCellDef>Tiempo de retencion</th>
    <td mat-cell *matCellDef="let element" [ngClass]="getRetentionClass(element.tiempO_RETENCION)">{{element.tiempO_RETENCION}}</td>
  </ng-container>  
    
    <!-- Columna Estado con mat-select -->
    <ng-container matColumnDef="estado">
      <th mat-header-cell *matHeaderCellDef>Estatus</th>
      <td mat-cell *matCellDef="let element">
        <mat-select [(value)]="element.estado" placeholder="Seleccionar estado">
          <mat-option value="Aprobar">Aprobar</mat-option>
          <mat-option value="Modificar">Modificar</mat-option>
        </mat-select>
      </td>
    </ng-container>

    <ng-container matColumnDef="archivO_URL">
      <th mat-header-cell *matHeaderCellDef>Archivo</th>
      <td mat-cell *matCellDef="let element">
        <button mat-raised-button color="primary" (click)="verDocumento(element.archivO_URL)">Ver Documento</button>
      </td>
    </ng-container>
  
  
    <ng-container matColumnDef="comentarios">
      <th mat-header-cell *matHeaderCellDef>Comentarios</th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field appearance="outline" class="comentario-delgado">
          <textarea matInput [(ngModel)]="element.comentarios" placeholder="Escribe un comentario" rows="1"></textarea>
        </mat-form-field>
      </td>
    </ng-container>
    
    

    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
  </table>

  <div class="footer-container">
    <div class="button-container">
      <button mat-raised-button color="primary" (click)="guardarCambios()">Guardar Cambios</button>
    </div>
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
  
    
  </mat-card>