<hr class="hidden-line">
<h1 class="titulo">Tareas completadas</h1>

<mat-card class="document-card">
  <table mat-table [dataSource]="dataListaTareas">

    <!-- Columna Título -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef>Título</th>
      <td mat-cell *matCellDef="let element">{{ element.title }}</td>
    </ng-container>

    <!-- Columna Descripción -->
    <ng-container matColumnDef="descripcion">
      <th mat-header-cell *matHeaderCellDef>Descripción</th>
      <td mat-cell *matCellDef="let element">{{ element.descripcion }}</td>
    </ng-container>

      <!-- Columna Estado -->
      <ng-container matColumnDef="COMPLETED">
        <th mat-header-cell *matHeaderCellDef>Estado</th>
        <td mat-cell *matCellDef="let element">
          <!-- Mostrar el estado COMPLETED como 'Pendiente' o 'Completada' -->
          <span>{{ element.COMPLETED ? 'Completada' : 'Pendiente' }}</span>
        </td>
      </ng-container>
  

    <!-- Columna Proceso -->
    <ng-container matColumnDef="proceso">
      <th mat-header-cell *matHeaderCellDef>Proceso</th>
      <td mat-cell *matCellDef="let element">{{ element.proceso }}</td>
    </ng-container>

    <!-- Columna Aprueba -->
    <ng-container matColumnDef="aprueba">
      <th mat-header-cell *matHeaderCellDef>Aprueba</th>
      <td mat-cell *matCellDef="let element">{{ element.aprueba }}</td>
    </ng-container>

    <!-- Columna Fecha de Creación -->
    <ng-container matColumnDef="createD_AT">
      <th mat-header-cell *matHeaderCellDef>Fecha de Creación</th>
      <td mat-cell *matCellDef="let element">{{ element.createD_AT | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <!-- Columna Fecha de Actualización -->
    <ng-container matColumnDef="updateD_AT">
      <th mat-header-cell *matHeaderCellDef>Fecha de Actualización</th>
      <td mat-cell *matCellDef="let element">{{ element.updateD_AT | date:'dd/MM/yyyy' }}</td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnasTabla"></tr>
    <tr mat-row *matRowDef="let row; columns: columnasTabla;"></tr>
  </table>

  <div class="footer-container">
    <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator>
  </div>
</mat-card>
